**
!ops/
!ops/update-server/
!ops/update-server/package.json
!ops/update-server/package-lock.json
!ops/update-server/server.js
!ops/update-server/store.js
!ops/update-server/Dockerfile
!ops/update-server/cloudbuild.yaml
!electron/
!electron/update-protocol.js
!.dockerignore
!.gcloudignore
